FLASK_APP=app
FLASK_ENV=development

# Once you add your API key below, make sure to not share it with anyone! The API key should remain private.
OPENAI_API_KEY="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"
